FLASK_APP=app
FLASK_ENV=development

# Once you add your API key below, make sure to not share it with anyone! The API key should remain private.
OPENAI_API_KEY="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"
